@charset "utf-8";

/* Fonts */

/* Regular */

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular-webfont.eot');
  src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular-webfont.woff') format('woff'), url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');

}


/* Light */

@font-face {
  font-family: 'OpenSansLight';
  src: url('../fonts/OpenSans-Light-webfont.eot');
  src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Light-webfont.woff') format('woff'), url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');

}

/* Bold */

@font-face {
  font-family: 'OpenSansBold';
  src: url('../fonts/OpenSans-Bold-webfont.eot');
  src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold-webfont.woff') format('woff'), url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
}


@font-face {
  font-family: 'SF-KingstonRegular';
  src: url('../fonts/SF-Kingston-Regular.otf');
}

* {
  box-sizing: border-box;
  &:focus{
    outline: none
  }
}

html,body{
  height: 100%;
  min-height: 100%;
}
body{
  position: relative;
  background-color: transparent;
}

/** apariencia de los botones en safari - compatibilidad **/

@mixin resetbutton {
  -webkit-webkit-apparence: none;
  -moz-webkit-apparence: none;
  -ms-webkit-apparence: none;
  -o-webkit-apparence: none;
}

/** clear **/

@mixin cleardiv {
  &:after,
  &:before {
    content: "";
    display: block;
    clear: both;
  }
}

.cleardiv {
  @include cleardiv;
}

/** text oculto con puntos suspensivos **/

@mixin texthide {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hidetext {
  @include texthide;
}

/** texto centrado verticalmente - necesita un etiqueta padre con alto**/

@mixin table($h: 100%) {
  & {
    display: table;
    width: 100%;
    height: $h;

    .tr {
      display: table-row;
      width: 100%;
      height: $h;
      vertical-align: middle;

      .td {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}

.centerinfovert {
  @include table;
}

/** **/

.icon-style {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin style-icons-building($cod) {
  font-size: 20px;
  vertical-align: middle;
  margin-right: 6px;
  content: $cod;

  @extend .icon-style;

  position: relative;
  top: -2px;
}

/** Placerholder **/

@mixin placeholder($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }

  &:-moz-placeholder {
    color: $color;
  }

  &::-moz-placeholder {
    color: $color;
  }

  &:-ms-input-placeholder {
    color: $color;
  }
}


/** flex **/


@mixin mflex-center {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}


.flex-center {
  
  flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  @include mflex-center;
}

a,
input[type=submit],
button,
.transit {
    transition: all 0.5s ease-out;
}
.reset {
    padding-left: 0;
    margin: 0;
}
.widthWeb {
  width: 95%;
  margin: auto;
  position: relative;
}
img {
  max-width: 100%;
  height: auto;
}

.bg-section{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

$colorweb:#008891; // celeste
$colorweb-hover:#222222; // 
$colorgray:#b6b4ae; // gray

.container {
  max-width: 1350px;
  margin: 0 auto;;
  position: relative;
}
/* *******/

.titulo-small {
  font-family: 'marsha';
  color: $colorweb;
}
@media only screen and (min-width: 320px) {
  .titulo {
    font-size: 75px;
    width: 100%;
    display: block;
    font-family: 'SF-KingstonRegular';
    color: $colorweb;
    font-weight: 100;
  }
  .titulo-small {
    font-size: 35px;
  }
}





.bg-image {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/****** meet ******/
